torch>=2.1
torchaudio>=2.1
torchvision>=0.16
pytorch-lightning>=2.2
numpy>=1.24
scipy>=1.10
pandas>=2.0
soundfile>=0.12
PyYAML>=6.0
einops>=0.7
rich>=13.0
tqdm>=4.65
opencv-python>=4.8
scikit-image>=0.21
librosa>=0.10
tensorboard>=2.14
